/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.pos-relative{
  
  position:relative;
  display:inline-block;
  width:150px;
  height:150px;
  text-align:center;
   
}

.left{
  background:chartreuse;
  
}
.right{
  
  background:magenta;
}
